<div class="container">
    <div class="header">
        <div>
        <h3>Loan Officer List<img src="../../../../assets/icons8-info-48.png"   width="25" height="25" class="d-inline-block align-top"/></h3>
    </div>
    <div>
        <button style="margin-right: 10px;border: none;padding:10px;border-radius: 5px;"><img src="../../../../assets/icons8-search-30.png" width="25" height="25"/></button>
        <button class="btn">Create Loan Officer</button>
        <button class="search"><mat-icon><i style='font-size:22px; color: rgb(0, 110, 255);' class='fas'>&#xf56f;</i></mat-icon></button>
    </div>
    </div>
</div>
<div class="section">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>NAME</th>
                <th>ROLE</th>
                <th>ASSIGNED BRANCHES</th>
                <th>ASSINGED FILES</th>
                <th>LAST LOGIN</th>
                <th>ACTIONS</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2018/04/25</td>
                <td>$3200,800</td>
                <td style="display: flex;gap:5px;"><i class="fa fa-close" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="CellWithComment" routerLink="/usercontacts/createloanofficer">Accountant
                    <span class="CellComment">Click here to edit</span>
                </td>
                <td>Tokyo</td>
                <td>630</td>
                <td>2019/07/25</td>
                <td>$170,750</td>
                <td style="display: flex; gap:5px;">
                    <i class="fa fa-close" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i>
                    <i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i>
                    <i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i>
                </td>
            </tr>
            
            
            </tbody>

    </table>
</div>
