<div class="container">
    <div class="header">
      <div>
        <label for="client-file">Client File Pipeline</label>
      </div>
      <div>
        <button class="btn">Save Current View</button>
        <div class="dropdown">
          <button class="btn">Saved View</button>
          <div class="dropdown-content">
            <a href="#">View 1</a>
            <a href="#">View 2</a>
            <a href="#">View 3</a>
          </div>
        </div>
        <button class="search"><mat-icon>search</mat-icon></button>
        <button class="btn">&#128269;</button>
      </div>
    </div>
    <hr>
    <div class="tabs">
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Lead(17)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Completed Application(21)</button>
        <button style="background-color: lightgray; margin-right:5px;margin-top: 5px;" mat-button>Completed Initial Application(3)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Requested Initial Documents(274)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Pre-Qualification Review(129)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Pending Documentation For Underwriting(113)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Docs are in - Waiting on Tax Transcripts(1)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Submitted to Underwriting(75)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>UW Approved - Documents Needed for Closing(27)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Approved(8)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Funded(213)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Tax Transcripts issues(4)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>On Hold(130)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Withdrawn(1874)</button>
        <button style="background-color: lightgray; margin-right: 5px;margin-top: 5px;" mat-button>Denied(869)</button>

    </div>
    
  </div>