<div class="container">
    
    <div class="header" style="width: 100%;">
        <div style="width: 60%;">
            <label for="broker-file">Broker List</label>
        </div>
        <div style="margin-right: 0;">
            <button class="search"><mat-icon>search</mat-icon></button>
            <button type="button" class="btn btn-info" (click)="opendialog()">Create Broker</button>
            <button class="search"><mat-icon><i style='font-size:24px; color: blue;' class='fas'>&#xf56e;</i></mat-icon></button>
        </div>
    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr class="table-info">
                <th>#</th>
                <th>Broker Name</th>
                <th>Company</th>
                <th>Branch Loan Officer</th>
                <th>Broker/Partner Type</th>
                <th>File Count</th>
                <th>Approval Status</th>
                <th>Last login</th>
                <th>Actions</th>       
                
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>
