<div class="container">
    <div class="header">
        <div>
            <label for="broker-file">Broker List</label>
        </div>
        <button class="search"><mat-icon>search</mat-icon></button>
        <button type="button" class="btn btn-info">Create Broker</button>
    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr class="table-info">
                <th>#</th>
                <th>Broker Name</th>
                <th>Company</th>
                <th>Branch LOan Officer</th>
                <th>Broker/Partner Type</th>
                <th>File Count</th>
                <th>Approval Status</th>
                <th>Last login</th>
                <th>Actions</th>
                <th>
                    
                </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-Default">
            <td colspan="7">No records found</td>
          </tr>
    </tbody>
   
    </table>
</div>
