<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/Logo.PNG" width="50" height="50" class="d-inline-block align-top" alt="">
        LoanBud
    </a>
    <div class="ml-auto d-flex align-items-center" style="margin: 10px;" >
        <button style="background: transparent; border: none;" class="btn btn-md  " style="margin-right: 1px;">
            Viewing
        </button>/
        <button style="background: transparent; border: none;" class="btn btn-md" style="margin-right: 1px;">
            Editing
        </button>
        <button mat-mini-fab  style="margin-right: 45px;color: aliceblue;background-color: dodgerblue;" aria-label="Example icon button with a filter list icon" >
         <mat-label>SG</mat-label>
        </button>
        <div class="icon d-flex align-items-center">
            <button style="background: transparent;border: none;color: dodgerblue;margin-right: 15px;" class="mr-2"><mat-icon>search</mat-icon></button> 
            <button style="background: transparent;border: none; color: dodgerblue;margin-right: 15px;" class="mr-2"><mat-icon class="mr-2">folder</mat-icon></button> 
            <button style="background: transparent;border: none;color: dodgerblue;margin-right: 15px;" class="mr-2"><mat-icon class="mr-2">notifications</mat-icon></button> 
            <p style="margin-right: 45px;" class="mb-0 ml-3">Hi, Burke Purcell</p>
            <button style="background-color: rgba(58, 130, 224, 0.5);" mat-button>BP</button>
        </div>
    </div>
</nav>
