<div class="container">
  <div class="header">
    <h2>Create Back Office User</h2>
    <button color="primary" mat-flat-button>Open All</button>
  </div>
  <div class="section">
    <div>
      <label for="email" style="display: block;">Email</label>
      <input style="width: 600px; height: 40px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="email" id="email" placeholder="Enter Email">
    </div>
    <div>
      <label for="confirm-email" style="display: block;margin-left: 30px; ">Confirm Email</label>
      <input style="width: 600px; height: 40px;margin-left: 30px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="email" id="confirm-email" placeholder="Confirm Email">
    </div>
    <div>
      <label for="first-name" style="display: block;margin-top: 20px; ">Employee First Name</label>
      <input style="width: 600px; height: 40px;border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="text" id="first-name" placeholder="Enter Employee First Name">
    </div>
    <div>
      <label for="last-name" style="display: block; margin-left: 30px;margin-top: 20px;">Employee Last Name</label>
      <input style="width: 600px; height: 40px;margin-left: 30px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="text" id="last-name" placeholder="Enter Employee Last Name">
    </div>

    <div>
      <label for="branch" style="display: block;margin-top: 20px;">Exclusively Assign to a Branch</label>
      <select id="branch" style="width: 600px; height: 40px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);">
        <option value="">  - Select Branch -  </option>
        <!-- Options for branches go here -->
        <option value="1">Bangalore</option>
      </select>
      <h5>Note: If you do not select any branch, the employee user will have access to all loan files for all branches.</h5>
    </div>
    <div>
      <label for="last-name" style="display: block; margin-left: 30px;margin-top: 20px;">Company Name</label>
      <input style="width: 600px; height: 40px;margin-left: 30px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="text" id="last-name" placeholder="Enter Company Name">
    </div>
    <div>
      <label for="role" style="display: block;margin-top: 20px;">Role</label>
      <div class="custom-dropdown">
        <select class="ui search selection dropdown">
          <option value="">Select </option>
          <option value="C">C</option>
          <option value="CPP">C++</option>
          <option value="Java">Java</option>
          <option value="Python">Python</option>
          <option value="C#">C#</option>
          <option value="JS">JavaScript</option>
        </select>
        <span class="arrow">&#9650;</span>
        <span class="arrow downside">&#9660;</span> 
        <button class="plus"> <i class="fa fa-plus-circle"></i></button> 
      </div>
    </div>
    <div>
        <label for="password" style="display: block; margin-left: 30px;margin-top: 20px;">Password</label>
        <input style="width: 600px; height: 40px;margin-left: 30px; border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="text"  placeholder="">
      </div>
      <div>
        <label for="confirm-password" style="display: block; margin-top: 20px;">Confirm Password</label>
        <input style="width: 600px; height: 40px;border-radius: 5px; background-color: rgba(255, 228, 196, 0.623);" type="text"  placeholder="">
      </div>
    <div>
        <label style="display: block;margin-top: 20px; margin-left: 30px;">Allow Login Back to Office?</label>
        
        <label style=" margin-left: 30px;" class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
    </div>
  </div>
  <div class="section">
    <mat-accordion class="example-headers-align" style="width: 100%;" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header  style="padding-top: 8px;">
          
          <div class="my-panel"  (click)="$event.stopPropagation();">
            <h3>Geneal Information </h3>
    
          </div>
          <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
        </mat-expansion-panel-header>
    
        <div>My panel content!</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="section">
    <mat-accordion class="example-headers-align" style="width: 100%;" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header  style="padding-top: 8px;">
          
          <div class="my-panel"  (click)="$event.stopPropagation();">
            <h3>Editing and Visibility Permissiona</h3>
    
          </div>
          <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
        </mat-expansion-panel-header>
    
        <div>My panel content!</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="section">
    <mat-accordion class="example-headers-align" style="width: 100%;" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header  style="padding-top: 8px;">
          
          <div class="my-panel"  (click)="$event.stopPropagation();">
            <h3>Documents and Notifications</h3>
    
          </div>
          <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
        </mat-expansion-panel-header>
    
        <div>My panel content!</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="section">
    <mat-accordion class="example-headers-align" style="width: 100%;" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header  style="padding-top: 8px;">
          
          <div class="my-panel"  (click)="$event.stopPropagation();">
            <h3>Special Reports and Features</h3>
    
          </div>
          <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
        </mat-expansion-panel-header>
    
        <div>My panel content!</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>