<div class="container" >
    <div class="header">
        <h2>Branch Info</h2>
        <button color="primary" mat-flat-button>Open All</button>
    </div>
    <div class="section" style="height: auto;">
        <mat-accordion class="example-headers-align" style="width: 100%;" multi>
        <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header style="padding-top: 8px;">
        <div class="my-panel " (click)="$event.stopPropagation();">
        <h3>Branch Info:</h3>
        </div>
        <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
      </mat-expansion-panel-header>
       <div class="section">
        <div class="input-group">
        <div class="input-field">
            <label for="email">Email</label>
            <input type="email" style="background-color: rgba(255, 228, 196, 0.623);" id="email" placeholder="Enter Email">
        </div>
        <div class="input-field">
            <label for="confirm-email">Confirm Email</label>
            <input type="email" style="background-color: rgba(255, 228, 196, 0.623);" id="confirm-email" placeholder="Confirm Email">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="first-name">Branch User First Name</label>
            <input type="text" style="background-color: rgba(255, 228, 196, 0.623);" id="first-name" placeholder="Enter Employee First Name">
        </div>
        <div class="input-field">
            <label for="last-name">Branch User Last Name</label>
            <input type="text"  style="background-color: rgba(255, 228, 196, 0.623);" id="last-name" placeholder="Enter Employee Last Name">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="first-name">Branch Name</label>
            <input type="text" style="background-color: rgba(255, 228, 196, 0.623);" id="first-name" placeholder="Enter Employee First Name">
        </div>
        <div class="input-field">
            <label for="last-name">Company Name</label>
            <input type="text"  style="background-color: rgba(255, 228, 196, 0.623);" id="last-name" placeholder="Enter Employee Last Name">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label style="display: block; margin-top: 20px;">Allow Login Back to Office?<img src="../../../../assets/icons8-info-48.png"  width="25" height="25" class="d-inline-block align-top"/></label>
      <label style="margin-top: 10px;" class="switch">
        <input type="checkbox" checked >
        <span class="slider round"></span>
      </label>
        </div>
        <div class="input-field">
            <label for="Time-Zone" style="display: block; ">Time Zone</label>
            <select id="Time-Zone" style=" width:100%; height: 40px; border-radius: 5px;">
              <option value="">  - EST (UTC-05)-  </option>
              <!-- Options for branches go here -->
              <option value="1">Bangalore</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="first-name">Toll Free/Main</label>
            <input type="text" id="Toll-Free/Main">
        </div>
        <div class="input-field">
            <label for="last-name">Adrees</label>
            <input type="text" id="Adress">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="first-name">City</label>
            <input type="text" id="City">
        </div>
        <div class="input-field">
            <label for="last-name">State</label>
            <select id="state" style=" width:100%; height: 40px; border-radius: 5px;">
                <option value="">  - Select State -  </option>
                <!-- Options for branches go here -->
                <option value="1">Karnataka</option>
                <option value="1">Goa</option>
              </select>
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="Street">Zip Code</label>
            <input type="number"  id="Zip Code">
        </div>
        <div class="input-field">
            <label for="Local/Direct Phone">Cell Number</label>
            <input type="text"  id="Cell Number">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="branch" style="display: block; margin-top: 20px;">Please select service provider<img src="../../../../assets/icons8-info-48.png"   width="25" height="25" class="d-inline-block align-top"/></label>
            <select id="branch" style=" width:100%; height: 40px; border-radius: 5px;">
              <option value="">  - Select-  </option>
              <!-- Options for branches go here -->
              <option value="1">Bangalore</option>
            </select>
        </div>
        <div class="input-field">
            <label for="Local/Direct Phone">Local/Direct Phone</label>
            <input type="number"  id="Cell Number">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="Street">Fax</label>
            <input type="text"  id="Fax">
        </div>
        <div class="input-field">
            <label for="Local/Direct Phone">Website</label>
            <input type="text"  id="Cell Number"  style="background-color: rgba(192, 224, 228, 0.623);" placeholder="bpurcell@loanbud.com">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="Street">Logo</label>
            <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
        <div class="input-field">
            <label for="Local/Direct Phone">Branch Type</label>
            <input type="text"  id="Branch Type"  style="background-color: rgba(192, 224, 228, 0.623);" placeholder="Branch Type">
        </div>
    </div>
    <div class="input-group">
        <div class="input-field">
            <label for="Street">Password</label>
            <input type="text"  id="Password"  style="background-color: rgba(192, 224, 228, 0.623);" placeholder=".......">
        </div>
        <div class="input-field">
            <label for="Local/Direct Phone">Conform Password</label>
            <input type="text"  id="Cell Number"  style="background-color:rgba(255, 228, 196, 0.623);">
        </div>
    </div>
       </div>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="section">
    <mat-accordion class="example-headers-align" style="width: 100%;" multi>
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header style="padding-top: 8px;">
    <div class="my-panel" (click)="$event.stopPropagation();">
    <h3>Branch Configuration</h3>
    </div>
    <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
    </mat-expansion-panel-header>
    <div class="main">
        <div class="parent" style="display: flex;">
        <label style="width: 65%;">Allow the loan officer Users to See</label>
        </div>
        <div class="check" style="display: flex;">
            <span class="checkmark"></span>
            <span style="margin-left: 5px;">Assigned Files Only</span>
            <span class="checkmark"></span>
            <span style="margin-left: 5px;">All Files in my Branch</span>
            <span class="checkmark"></span>
            <span style="margin-left: 5px;">Files in Lead Status/or status set on Branch/Assigned Files </span>
        </div>
        <div class="parent" style="display: flex;">
            <label style="width: 65% ;">Do you Want To Send The File Designation Information To Your Client With Public notes?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
          </div>
          <div class="check" style="display: flex;">
            <label style="width:10.5%;" class="switch">
                <input type="checkbox" checked >
                <span class="slider round"></span>
              </label>
        </div>
        <div class="parent" style="display: flex;">
            <label style="width: 65% ;">Lock Branch So it Cannot be deleted<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
          </div>
          <div class="check" style="display: flex;">
            <label style="width:10.5%;" class="switch">
                <input type="checkbox" checked >
                <span class="slider round"></span>
              </label>
        </div>
        <div class="parent" style="display: flex;">
            <label style="width: 65% ;">New Lead Notification Handaling<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
          </div>
          <div class="check" style="display: flex;">
        </div>
        <div class="parent" style="display: flex;">
            <label style="width: 65%;">Email Bcc</label>
            </div>
            <div class="check" style="display: flex;">
                <input type="text" style="width: 100%;"  id="" >
            </div>
            <div class="parent" style="display: flex;">
                <label style="width: 65%;">Email Cc</label>
                </div>
                <div class="check" style="display: flex;">
                    <input type="text" style="width: 100%;"  id="" >
                </div>
                <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Document Upload Notification Handling<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                  </div>
                  <div class="check" style="display: flex;">
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65%;">Email Bcc</label>
                    </div>
                    <div class="check" style="display: flex;">
                        <input type="text" style="width: 100%;"  id="" >
                    </div>
                    <div class="parent" style="display: flex;">
                        <label style="width: 65%;">Email Cc</label>
                        </div>
                        <div class="check" style="display: flex;">
                            <input type="text" style="width: 100%;"  id="" >
                        </div>
                        <div class="parent" style="display: flex;">
                            <label style="width: 65%;">Please provide branch login URL </label>
                            </div>
                            <div class="check" >
                                <input type="text" style="width: 100%;"  id="" >
                            </div>
                            <div class="parent" style="display: flex;">
                                <label style="width: 65% ;">Enable Pricing Engine?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                              </div>
                              <div class="check" style="display: flex;">
                                <label style="width:10.5%;" class="switch">
                                    <input type="checkbox" checked >
                                    <span class="slider round"></span>
                                  </label>
                              </div>
                         </div>
    </mat-expansion-panel>
    </mat-accordion>
    </div>
    <div class="section">
     <mat-accordion class="example-headers-align" style="width: 100%;" multi>
    <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header style="padding-top: 8px;">
    <div class="my-panel" (click)="$event.stopPropagation()">
    <h3>User Permissions Settings</h3>
    </div>
    <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
    </mat-expansion-panel-header>
    <div class="main1" style="border: 1px solid;">
        <div class="section">
            <mat-expansion-panel-header style="padding-top: 8px; background-color:  rgba(192, 224, 228, 0.623); color: rgb(78, 124, 209);">
             Editing and Visibility Permissions
            </mat-expansion-panel-header>
        </div>
        <br>
        <div class="section">
            <mat-expansion-panel-header style="padding-top: 8px; background-color:  rgba(192, 224, 228, 0.623); color: rgb(78, 124, 209);">
                Documents and Notifications
               </mat-expansion-panel-header>
               <div class="main">
                <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Notify if Borrowers/Clients upload a documents?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Allowed to delete/replace uploaded docs/e-signed docs/binder docs?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allowed to share file?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Aloowed to access administer docs?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allow users to send FAX?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Notify if Back office users upload a document?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Notify if Loan officer users upload a document?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Notify If Broker users upload a document?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Notify if document upload request is sent to the borrower/client?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Notify if new file is created?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
               </div>
        </div>
        <br>
        <div class="section">
            <mat-expansion-panel-header style="padding-top: 8px; background-color:  rgba(192, 224, 228, 0.623); color: rgb(78, 124, 209);">
            Special Reports or Feauteres
            </mat-expansion-panel-header>
            <div class="main">
                <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Enable Two-Factor Authentication(2FA)?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Allowed to see dashboard?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div> 
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allow to mass email</label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Allow to Submit offeser?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allowe to view workflow?</label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Enable Marketplace Tabs?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allowe TO View Credite Screen?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="check" style="display: flex;">
                    <label style="margin-left: 10%;">Display any automatins that are trigger by this user?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="display: inline-block; margin-left: 5%;width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Allowe TO access the 3rd Party Services Tab?<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <label style="width:10.5%;" class="switch">
                      <input type="checkbox" checked >
                      <span class="slider round"></span>
                    </label>
                  </div>
            </div>
        </div>
    </div>
   
   
    </mat-expansion-panel>
    </mat-accordion> 
    </div>
    <div class="section">
        <mat-accordion class="example-headers-align" style="width: 100%;">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header style="padding-top: 8px;">
                <div class="my-panel"  (click)="$event.stopPropagation();">
                    <h3>Loan Programs</h3>
            
                  </div>
                  <button class="child" style="width: fit-content;height: fit-content; background-color: rgba(66, 183, 204, 0.295);border-radius: 5px;border-color: none; border: none;"><mat-icon style="padding-top: 3px;color: lightskyblue;">keyboard_arrow_down</mat-icon></button>
            </mat-expansion-panel-header>
            <div class="main">
                <div class="parent" style="display: flex;">
                    <label style="width: 65% ;">Select desire Type of modules<img src="../../../../assets/icons8-info-48.png"  width="30" height="30" class="d-inline-block align-top"/></label>
                    <input type="text" style="width: 100%;"  id="" placeholder="-Select Module Type-">
                  </div>
            </div>
            <div class="parent" style="display: flex;">
                <label style="width: 65% ;"><h2>Programs offered:</h2></label>
              </div>
        </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="save">
        <button style="margin-top: 10px; " color="primary" mat-flat-button>Save</button>
        <button style="margin-top: 10px;" color="primary" mat-flat-button>Save Next</button>
      </div>
</div>
