<div class="main">
    <h4>Add Broker <span *ngIf="brokerform.invalid && (brokerform.dirty || brokerform.touched)" class="small-font invalid"></span></h4>
    <form [formGroup]="brokerform" >
      <mat-form-field>
        <mat-label style="color: seagreen">BrokerName</mat-label>
        <input matInput placeholder="Ex.BrokerName" name="BrokerName" [required]="true" formControlName="BrokerName">
        <mat-hint style="color: red;" *ngIf="brokerform.get('BrokerName')?.touched && brokerform.get('BrokerName')?.errors?.['required']">
          BrokerName is Required
        </mat-hint>
      </mat-form-field>
    <mat-form-field>
        <mat-label style="color: seagreen">Company</mat-label>
        <input matInput placeholder="Ex. Company" name="Company" [required]="true" formControlName="Company">
        <mat-hint style="color: red;" *ngIf="brokerform.get('Company')?.touched && brokerform.get('Company')?.errors?.['required']">
          Company is Required
        </mat-hint>
      </mat-form-field>
    <mat-form-field>
      <mat-label>BranchLoanOfficer</mat-label>
      <input matInput placeholder="Ex. BranchLoanOfficer" required formControlName="BranchLoanOfficer">
      <mat-hint style="color: red;" *ngIf="brokerform.get('BranchLoanOfficer')?.touched && brokerform.get('BranchLoanOfficer')?.errors?.['required']">
        BranchLoanOfficer is Required
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-label>BrokerType</mat-label>
        <input matInput placeholder="Ex.BrokerType" required="BrokerType" formControlName="BrokerType">
        <mat-hint style="color: red;" *ngIf="brokerform.get('BrokerType')?.touched && brokerform.get('BrokerType')?.errors?.['Role']">
          BrokerType is Required
        </mat-hint>
      </mat-form-field>
    <mat-form-field>
      <mat-label>FileCount</mat-label>
      <input  matInput type="FileCount"  placeholder="FileCount" required="FileCount" formControlName="FileCount">
      <mat-hint style="color: red;" *ngIf="brokerform.get('FileCount')?.touched && brokerform.get('FileCount')?.errors?.['required']">
        FileCount is Required
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ApprovalStatus</mat-label>
      <input  matInput type="ApprovalStatus"  placeholder="ApprovalStatus" required="ApprovalStatus" formControlName="ApprovalStatus">
      <mat-hint style="color: red;" *ngIf="brokerform.get('ApprovalStatus')?.touched && brokerform.get('ApprovalStatus')?.errors?.['required']">
        ApprovalStatus is Required
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Lastlogin</mat-label>
      <input matInput placeholder="Lastlogin" required="Lastlogin" formControlName="Lastlogin">
      <mat-hint style="color: red;" *ngIf="brokerform.get('Lastlogin')?.touched && brokerform.get('Lastlogin')?.errors?.['Lastlogin']">
        Lastlogin is Required
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 480px;">
        <mat-label>Actions</mat-label>
        <input matInput placeholder="Actions" required="Actions" formControlName="Actions">
        <mat-hint style="color: red;" *ngIf="brokerform.get('Actions')?.touched && brokerform.get('Actions')?.errors?.['Actions']">
            Action is Required
        </mat-hint>
      </mat-form-field>
      
      <br>
          
    </form>
    <div class="button-container">
      <button class="add" mat-raised-button color="primary"(click)="saveBrokerData()">ADD</button>
      <button class="reset" mat-raised-button color="accent" (click)="resetForm()">Reset</button>
    </div> 
    <button class="close" mat-raised-button color="warn" (click)="closeForm()">X</button>
  </div>