.main {
  max-width: 800px;
  margin: 40px auto;
  padding: 8px;
  height:600px;
} 

:host {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding: 12px;
}
.date{
width: 50px;

}
h4 {
  text-align: center;
  color: royalblue;
}

.reset {
  width: 30%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  float:right;
  display: flex;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Adjust the margin as needed */
}

.add, .reset {
  margin: 0 5px;
   width:30%; 
}


/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
  .main {
      margin: 20px auto;
      padding: 10px;
  }

  h1 {
      font-size: 1.5rem;
      left: 50%;
      transform: translateX(-50%);
  }

  button, .add, .reset {
      width: 100%;
      margin-top: 10px;
  }

  .close {
      position: absolute;
      top: 10px;
      right: 10px;
  }
}


