<div class="sidebar">
    <a href="#">Dashboard</a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Create Loan <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Pipeline <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">User/Contacts <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Calendar <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Reports <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Calculators <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Settings <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <a href="#">Help Center Live Training <i class="fas fa-chevron-right dropdown-icon"></i></a>
    <div class="submenu">
        <a href="#">Submenu Item 1</a>
        <a href="#">Submenu Item 2</a>
        <a href="#">Submenu Item 3</a>
    </div>

    <hr>
    <a href="#">Account Setup <i class="fas fa-chevron-right dropdown-icon"></i></a>
</div>