<div class="container">
    <div class="header">
        <div>
            <label for="back-office">Branch List<img src="../../../../assets/icons8-info-48.png" width="25" height="25"/></label>
        </div>
        <div>
            <button style="background-color: rgba(81, 191, 235, 0.363);border-radius: 3px;padding: 7px;margin-right: 10px;border:none"><img src="../../../../assets/icons8-search-30.png" width="20" height="20"/></button>
            <button class="btn" style="background-color: rgb(68, 185, 189);" (click)="opendialog()" >Create Branch</button>
        </div>
    </div>
    
</div>
<div class="section">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>LOGO</th>
                <th>BRANCH NAME</th>
                <th>BRANCH CONTACT</th>
                <th>COMPANY NAME</th>
                <th>#FILE(S)</th>
                <th>BROKERS</th>
               <th>LOAN OFFICERS</th>
               <th>LAST LOGIN</th>
               <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>$3200,800</td>
                <td style="display: flex;gap:5px;"><i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class="fa fa-check" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>630</td>
                <td>2019/07/25</td>
                <td>$170,750</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td style="display: flex;gap:5px;"><i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class="fa fa-check" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>669</td>
                <td>2019/01/12</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>$46,000</td>
                <td>2018/04/25</td>
                <td style="display: flex;gap:5px;"><i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class="fa fa-check" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Senior Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>2018/04/25</td>
                <td>$343,060</td>
                <td style="display: flex;gap:5px;"><i class="fa fa-refresh" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class="fa fa-check" style="background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;cursor: pointer;"></i><i class='fas fa-user-check' style="cursor:pointer;background-color: rgba(120, 124, 128, 0.253);color:rgb(143, 140, 140);height:15%;padding:3%;border-radius: 5px;"></i></td>
            </tr>
            </tbody>
            </table>
        </div>